.Car {
    width: 10%;
    position: relative;
}


.Goal {
    width: 100px;
    position: relative;
}

.Track {
    background-image: url('../../asset/background.jpg');
    background-repeat: repeat;
    background-size: contain;
}


